.sprayerTitle {
    font-weight: 600;
}

.sprayer {
    margin-top: 20px;
    display: flex;
    justify-content: flex-start;
}

.sprayerSwitch {
    margin-left: 10px !important;
}

.sprayerSection {
    width: calc(50% - 10px);
    margin-right: 10px;
    border: 1px solid #ebedf0;
    border-radius: 3px;
    padding: 10px;
}