.html {
    height: 100%;
}

#canvas {
    display: block;
    width: 100%;
    background-size: cover;
    background-repeat: repeat;
}

.loginContent {
    width: 500px;
    position: absolute;
    top: calc(50% - 100px);
    left: calc( 50% - 250px);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(256, 256, 256, 0.8);
    border-radius: 10px;
}

.loginModal {
    padding: 10px 20px;
    width: 500px;
    text-align: center;
}

.loginModal .ant-tabs-bar{
    width: 350px;
    border-bottom: none;
    display: flex;
    justify-content: center;
}

.loginModal input, .loginModal button{
    font-size: 30px;
    height: 50px;
}

.login-form-button {
    display: block;
    width: 100%;
}

.password {
    margin-bottom: 0;
}

.logo {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.logoImage {
    font-size: 40px;
    font-weight: bold;
    margin: 20px;
}