.devicesTitleSection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.devicesTitle {
    font-size: 20px;
    font-weight: 600;
}


.menu {
    border-right: none !important;
}